<!DOCTYPE html>
<html>
    <head>
        <title>Hola</title>
        <script>
        var glotis = 'Some js example';
        //alert(glotis);
        var alerty = () => {
            alert("This should do something");
        }
        document.getElementById("buttonID").addEventListener("click", alerty);
        </script>
    </head>
    <body>
        <h1 style="background-color: aquamarine">Texto nuevo</h1>
        <h2 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">Mas texto nuevo</h2>
        <p style="border: 3px double firebrick;"><b>Some bold text</b></p>
        <form action="" class="form">
            <legend>Hola</legend>
            <input type="email" required><br>
            <input type="password" required><br>
            <button type="button" id="buttonID">Click me!</button>
        </form>
    </body>
</html>